@media screen and (max-width:870px) {
    main .about .inner {
        flex-direction: column;
        gap: 1vw;
    }

    main .about .inner .facebox {
        height: 350px;
    }

    main .about .inner .facebox2 {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    main .about .inner .skill {
        width: 80%;
        height: 250px;
        font-size: 0.9rem;
    }
    .about .inner .skill .tab-item .menu {
        height: 200px;
    }
    .playlist .play {
        justify-content: space-evenly;
        top: 22%;
        left: 0;
    }

    .playlist .play .plright {
        width: 80%;
    }

    .playlist .play .plright .name {
        padding: 4% 0;
        height: 83px;
    }

    .playlist .play .plright .bar {
        width: 96%;
    }
    .playlist .play .plright .icon {
        width: 93%;
    }
    
    .playlist .play img {
        top: -400px;
        left: 50%;
        transform:translate(-50%, 0) rotate(0deg)  ;
    }


    .playlist .play img.on {
        transform:translate(-50%,0) rotate(360deg) ;
    }

    .playlist .play .circle {
        left: 47%;
        top: -95%;
    }

}



@media screen and (max-width:1000px) {
    .section .project .phone .top, .section .project .phone .under, .section .project .phone .mid .dog {
        display: none;
    }

    .section .project .phone {
        background-color: inherit;
    }





    .accodi {
        display: none;
    }

    .res1 {
        display: block;
    }




}